.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* body {
  font-family: "Kablammo", sans-serif;
} */
* {
  margin: 0;
  padding: 0;
}
a, .link {
  text-decoration: none;
}
.link {
  color: #bbb7b7;
  transition-duration: 0.3s;
}
.link:hover {
  background-color: #bbb7b7;
  color: #1c1919;
}
.link.active {
  background-color: #bbb7b7;
  color: #1c1919;
}
.flex3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex2 {
  display: flex;
  align-items: center;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 15px;
}
.main__layout {
  display: flex;
  flex-direction: column;
}
.main__layout_bottom {
  display: flex;
}
.sidebar {
  display: flex;
  justify-content: center;
  background-color: #1c1919;
  width: 15%;
  height: 100vh;
}
.main__content {
  background-color: #bbb7b7;
  width: 100%;
  padding-left: 30px;
  padding-top: 30px;
}
.ava {
  max-width: 200px;
  border-radius: 7px;
}
.tab {
  text-align: center;
  background-color: #282c34;
  color: #bbb7b7;
  border: 1px solid #1c1919;
  cursor: pointer; 
  transition-duration: 0.3s;
}
.tab:hover {
  background-color: #1c1919;
}
.tab.active {
  background-color: #1c1919;
}
.flex5 {
  display: flex;
  width: 100%;
}
.tab {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.icon_pointer {
  cursor: pointer;
}