.ava {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
/* .flex3_width {
    width: 150px;
} */
.flex_column_width {
    position: relative;
    width: 150px;
    justify-content: center;
}
.text {
    margin-left: 10px;
    color: #bbb7b7;
}
.dark {
    color: #2e2d2d;
}
.dropdown {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 30px;
    border-radius: 4px;
    border: 1px solid #2e2d2d;
    background-color: #bbb7b7;
    align-self: flex-end;
    height: 70px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex2_withHover {
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    transition-duration: 0.3s;
}
.flex2_withHover:hover {
    background-color: #e9e4e4;
}